@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';


body {
  font-family: "Rubik", sans-serif;
}

@theme {
  --color-primary: '#FF6633';
  --secondary-color: '#70C05B';
  --color-mint-500: oklch(0.72 0.11 178);
}