@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';


body {
  font-family: "Rubik", sans-serif;
}

@theme {
  --color-primary: #FF6633;
  --color-secondary: #70C05B;
  --color-secondary-muted: #E5FFDE;
  --color-greyscale: #F3F2F1;
}